<template>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <center>
          <h2>Place Digitizing Order</h2>
        </center>
        <div class="form-group mb-4">
          <label>Order Name :</label>
          <input
            type="text"
            class="form-control"
            placeholder="Order Name"
            value=""
            v-model="name"
            name="order_name"
          />
          <span class="error" v-if="validated&&!name">Order Name is Required</span>
        </div>

        <div class="form-group mb-4">
          <label>Height (inches) :</label>
          <input
            type="text"
            class="form-control"
            placeholder="Height (inches)"
            name="height"
            v-model="height"
            value=""
          />
          <span class="error" v-if="validated&&!height">Height is Required</span>
        </div>

        <div class="form-group mb-4">
          <label>Width (inches) :</label>
          <input
            type="text"
            class="form-control"
            placeholder="Height (inches)"
            name="width"
            v-model="weight"
            value=""
          />
          <span class="error" v-if="validated&&!weight"> Width is Required</span>
        </div>
        <div class="form-group mb-4">
          <label>Order Placement :</label>
          <select class="form-control" v-model="oredr" name="order_placement">
            <option value="">Select Order Placement</option>
            <option>Cap Front</option>
            <option>Cap Side</option>
            <option>Cap Back</option>
            <option>Low Profile Cap</option>
            <option>Left Chest</option>
          </select>
          <span class="error" v-if="validated&&!oredr">Please Select an Order</span>
        </div>
        <div class="form-group mb-4">
          <label>Required Format :</label>
          <select class="form-control" v-model="format" name="required_format">
            <option value="0">Required Format</option>
            <option value="Tajima Machine File (.DST)">Tajima Machine File (.DST)</option>
            <option value="Barudan Machine File (.DSB)">Barudan Machine File (.DSB)</option>
            <option value="Janome Machine File (.JEF)">Janome Machine File (.JEF)</option>
            <option value="Compucon Machine File (.XXX)">Compucon Machine File (.XXX)</option>
            <option value="Happy Machine File (.TAP)">Happy Machine File (.TAP)</option>
            <option value="Toyota Machine File (.100)">Toyota Machine File (.100)</option>
            <option value=".EMB/.DST">.EMB/.DST</option>
            <option value=".PES/.DST">.PES/.DST</option>
            <option value=".EXP/.DST">.EXP/.DST</option>
            <option value=".CND/.DST">.CND/.DST</option>
            <option value=".OFM/.DST">.OFM/.DST</option>
            <option value=".PXF/.DST">.PXF/.DST</option>
          </select>
          <span class="error" v-if="validated&&!format"> Please select a format</span>
        </div>
        <div class="form-group mb-4">
          <label>Order Fabric :</label>
          <select class="form-control" v-model="fabric" name="order_fabric">
            <option value>Order Fabric</option>
            <option value="Twill">Twill</option>
            <option value="Pique">Pique</option>
            <option value="Polyester/Performance">Polyester/Performance</option>
            <option value="Cotton">Cotton</option>
            <option value="Fleece">Fleece</option>
            <option value="Towel">Towel</option>
            <option value="Leather">Leather</option>
            <option value="Denim">Denim</option>
            <option value="Silk">Silk</option>
            <option value="Nylon">Nylon</option>
            <option value="Quilt">Quilt</option>
            <option value="Canvas">Canvas</option>
            <option value="Single Jersey">Single Jersey</option>
            <option value="Wool">Wool</option>
            <option value="Velvet">Velvet</option>
            <option value="Apron">Apron</option>
            <option value="Blanket">Blanket</option>
            <option value="Polar Fleece">Polar Fleece</option>
            <option value="Stretchy Polyester/Light Knit ">Stretchy Polyester/Light Knit</option>
            <option value="Knit">Knit</option>
            <option value="Others">Others</option>
          </select>
          <span class="error" v-if="validated&&!fabric"> Please select a fabic</span>
        </div>
        <div class="form-group mb-4">
          <label>Order Instruction :</label>
          <textarea row="40" v-model="Instruction" column="40" class="form-control" name="instruction"></textarea>
          <span class="error" v-if="validated&&!Instruction">Instructions are required</span>
        </div>
        <label>Supper Urgent :</label>
        <div class="form-group mb-3">
          <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              id="customRadioInline1"
              value="ON"
              v-model="urgent"
              name="customRadioInline1"
              class="custom-control-input"
            />
            <label class="custom-control-label" for="customRadioInline1">ON</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input
              type="radio"
              id="customRadioInline2"
              value="OFF"
              v-model="urgent"

              name="customRadioInline1"
              class="custom-control-input"
            />
            <label class="custom-control-label" for="customRadioInline2">OFF</label>
          </div>
          <p class="text-danger" v-if="validated&&!urgent">Please select order type</p>
        </div>
        <div class="row">
          <div class="form-group mb-4 col-md-5">
            <label>Upload ArtWork :</label>
            <button type="button" @click="Mopen=true"  class="btn btn-success">Upload</button>
          <p v-if="validated&&!Images.length" class="text-danger">Please Select Artwork</p>
          </div>

          <div class="form-group mb-4 col-md-6">
            <FileUploadView :open="Mopen" @close="Mclose" @Images="setImages"/>
            <span href="#" id="file_preview"></span>
          </div>
        </div>
        <button @click="submit" class="btn btn-success waves-effect waves-light col-lg-2" type="submit">
          <i class="mdi mdi-content-save"></i> Save
        </button>
      </div>
      <!-- end card-body-->
    </div>
    <!-- end card-->
  </div>
</template>

<script lang="ts">
import VForm from "./main";
export default class VFormView extends VForm {}
</script>
