<template>
  <div>
    <Modal v-if="open" @close="close">
      <div class="row mb20 modal-box">
        <div class="col-md-6">
          File List
          <ul>
            <li @click="SelectedImage=i" v-for="(items,i) in Images" class="file-list" :key="i">{{humanFileSize(items.size)}}  / {{items.name}}</li>
          </ul>
        </div>
        <div class="col-md-6">
          <img class="modal-img" :src="Image" />
        </div>
      </div>
      <label class="btn btn-success" for="input">Choose files</label>
      <input type="file" id="input" class="btn btn-success" @change="logImages" multiple />
      <button type="button" @click="save" class="modal-default-button btn btn-success">OK</button>
    </Modal>
    <!-- <button @click="save">Print</button> -->
  </div>
</template>
<script lang="ts">
import FileUploaderCompnent from "./main";

export default class FileUploadView extends FileUploaderCompnent {}
</script>
