.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 60%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-close {
  float: right;
  font-weight: 600;
  cursor: pointer;
}

#input {
  display: none;
}

.modal-box {
  padding: 20px;
}

.modal-img {
  width: inherit;
}

.file-list {
  margin-top: 15px;
  text-decoration: none;
  list-style: none;
  margin-left: -40px;
  padding: 12px;
  border-radius: 20px;
  background-color: rgba(26, 188, 156, 0.5);
  cursor: pointer;
}

.vue-modal .bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff34d !important;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  transform: scale(1.1);
}

.custom-control-label {
  padding: 8px;
}

