<template>
          <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
            <div class="modal-close" @click="$emit('close')">X</div>
              <div class="modal-body">
                <slot>


                </slot>

              </div>

            </div>
          </div>
        </div>
      </transition>
</template>

<script lang="ts">
import Master from "../master/main";
import { Component } from "vue-property-decorator";

@Component
export default class Modal extends Master {
}
</script>
