.slider-bg {
    background-color: black;
    height: 630px;
}

.slider-left-bannser {
    position: relative;
    top: 62px;
}
.btn-bg {
    background: #4d0512;
    border: #4d0512;
}
    #signinleft {
    background: #000000;
    color: white;
    position: relative;
    right: 81%;
}
.btn-primary {
    color: #fff;
    background-color: #4d0512;
    border-color: #4d0512;
}

#modelheader {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #FAD65A;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    background: #FAD65A;
}
#modelbody {
    background-color: #DFDEE9;
}
#modelfooter
{
        border-top: 1px solid #b2b4b600;
    
}
.servicesart p{
 
    position: absolute;
    top: 15px;
    min-width: 100%;
    min-height: 60px;
    background: #7e0017;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
   
    padding: 5px 20px 5px;
    z-index: 3;
    font-weight: 500;
    
}

.bussiness-bg{
    
    background-color:black;
    
}
.logo-image {
    width: 92%;
}

#contact {
    background: #000000;
    color: white;
    position: relative;
}
.qp_bgc {
    background: #dfdee9;
    float: left;
    width: 101%;
    height: 400px;
    margin-bottom: 20px;
    border-bottom: 6px solid #151311;
    cursor:pointer;
}

.qp_bgc:hover {
    background: #000000;
    border-bottom: 6px solid #fad65a;
}
 .about-bg {
    background: black;
    height: 328px;
}
.logo-image {
    width: 87%;
}
.boxes {
    position: relative;
    top: 179px;
}
.signup {
    background-image: linear-gradient(180deg,#dfdee98f,#fad65a85);
}
.signup-panel {
    color: #060108;
    background-color: #060108;
    border: 1px saddlebrown;
    border-color: #060108;
    padding: 7px;
    border-bottom: 5px solid #fad65a;
    border-radius: 14px;
}

#signup-btn {
    color: #fff;
    background-color: #000000;
    border-color: #ffffff;
    border-radius: 33px;
}
.number {
    height: 5px;
    width: 5px;
    padding: 0px 9px 1px 9px;
    background-color: white;
    border-radius: 30px;
    color: black;
}

.slider-btm {
    background: #dfdee9;
    text-align: center;
    width: 103%;
    padding: 10px;
    right: 14px;
    position: relative;
    height: 92px;
    box-shadow: 2px 3px 10px 0 rgba(0,0,0,.16);
    line-height: 75px;
    font-size: 26px;
    font-weight: 900px;
    font-style: all;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

.banner-bg {
    background-color: #dfdee9;
    height: auto;
}

#images-icon
{
    width: 84%;
    position: relative;
    top: 18px;
    left: 10px;
}
#image-patehes {
    width: 84%;
    position: relative;
    top: 5px;
    left: 10px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    color: black;
    padding-top: 60px;
    z-index: 999;
}
.sidebar a {
    padding: 8px 17px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Raleway', sans-serif;
}

.sidebar a:hover {
    color: #000000;
    background-color: #dfdee9;
    text-decoration: none;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 82%;
    left: auto;
    border: 1px solid #9e9e9e;
    font-size: 30px;
    margin-left: 50px;
}
.openbtn {
    font-size: 22px;
    left: 4%;
    top: -6px;
    position: relative;
    cursor: pointer;
    background-color: #000000;
    color: #fad65a;
    padding: 5px 11px;
    border: none;
    border: 3px solid #fad65a;
        border-radius: 10px;

}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}
@media only screen and (max-width: 768px){

#signinleft {
    background: #000000;
    color: white;
    position: relative;
    right: 73%;
}
    
.sidebar a {
    padding: 8px 17px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
    /* text-align: center; */
    transition: 0.3s;
    line-height: 33px;
    font-family: 'Raleway', sans-serif;
    bottom-bottom: 1px unset;
    border-bottom: 1px solid #9E9E9E;
}

.slider-btm {
    background: #dfdee9;
    text-align: center;
    width: 103%;
    padding: 10px;
    right: 3px;
    position: relative;
    height: auto;
    box-shadow: 2px 3px 10px 0 rgba(0,0,0,.16);
    line-height: 43px;
    font-size: 26px;
    font-weight: 900px;
    font-style: all;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

}
.bottom-heading {
    background: #dfdee9;
    text-align: center;
    padding: 15px;
    line-height: 40px;
    font-size: 25px;
    box-shadow: 2px 3px 10px 0 rgba(0,0,0,.16);
}


.achievementss {
    width: 100%;
    float: left;
    padding: 55px 0;
    text-align: center;
    background-size: cover;
    -webkit-background-size: cover;
}

