@media (max-width: 767px) {
html,body{
    overflow-x: hidden;
}
.boxes {
    position: relative;
    top: 0px;
}
.header_top
{
    display: none;
}
 

}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
 
}
